.container {
  padding: 0 2rem;
}


.title {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: rgb(181, 124, 18);
}

.title,
.description {
  text-align: center;
}

.description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grille {
    width: 100%;
    flex-direction: column;
  }
}

div.gallery {
  margin: 5px;
  border-radius: 10px;
  float: left;
  height: auto;
  width: auto;
  padding: 10px;
  border: 2mm ridge rgba(211, 220, 50, 0.6);
}
h2.titleNft {
  color: #8d633e;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.signature {
  font-size: 11px;
}
.signMe {
  color: white;
  margin: 20px;
  background-color:rgba(211, 220, 50, 0.6);
 position: relative;
  left: 50%;
  size: 100px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

.all {
  padding: 70px;
}

.nav {
  font-size: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.pageLink {
  cursor: pointer;
}

/* pagination pageItem */
.pageItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* pagination page item when active */
.pageItemActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgba(211, 220, 50, 0.6);
}

.grille {
  /* max-width: 1300px;
  height: auto;
  border: 1px solid black;
  display: grid;
  width: 80%;
  margin: 30px auto;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 50px; */

  display: grid;
  background: #222;
  width: 80%;
  border: 1px solid white;
  max-width: 1000px;
  margin: 30px auto;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(9em, 1fr));
  grid-template-rows: auto 1fr auto;
  grid-gap: 50px; 
  grid-template-columns: fit-content(300px) fit-content(300px) 1fr;


}

.gridItem {
   margin: 5px;
   border-radius: 10px;
  /* float: left;
  height: auto;
  width: auto; */
  padding: 10px;
    border: 2mm ridge rgba(211, 220, 50, 0.6); 
}

.grilleTitle {
  border: 1px solid black;
  justify-content: center;
}
/*test navBar*/

.navbar {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr; /* only column intially */
  grid-auto-flow: dense;
  align-items: stretch;
  column-gap: 20px;
}

.logo {
  width: auto;
  grid-column: -3; /* create an implicit one at the beginning */
}

.menus {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  color: #8d633e;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  grid-column: 1; /* take the explicit one */
}

.menus * {
  padding: 5px;
}

.gridButton {
   margin: 5px;
   border-radius: 10px;
  float: left;
  height: auto;
  width: auto;
  padding: 10px; 
  border: 2mm ridge rgba(198, 199, 171, 0.6);
}

.grilleButton {
  max-width: 1300px;
  height: auto;
  border: 1px solid black;
  display: grid;
  width: 80%;
  margin: 30px auto;
  grid-template-columns: repeat(auto-fill, 1fr);
  justify-content: center;
  grid-gap: 50px;
}

.grille div {
  color: white;
  padding: 20px;
  }

  .image{
    background-color: #f213a4;
    width: 100;
  }
  /* TTTTTTTTTTTTTTTTTTTTEEEEEEEEEEEEEEESSSSSSSSSSSSSSTTTTTTTTTTT*/
/* 

  .card {
    background-color: #658db5;
    padding: 25px;
    border-radius: 6px;
  }
   */
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    
  }
  
  .card {
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
    padding: 1em;
    border-top: 4px solid var(--clr-primary);
    border: 2mm ridge rgba(211, 220, 50, 0.6); 


    
  }

  @media screen and (max-width: 550px) {
  
  
    .cards {
      grid-template-columns: 1fr;
    }

  }

  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  